{#
/**
 * @file
 * CC TV small teaser card.
 */
#}

<article{{ attributes.addClass('cc-tv-card') }}>

  {# IMAGE #}
  {% if content.field_teaser_media %}
    <div class="cc-tv-card__media">
      {{ content.field_teaser_media }}
    </div>
  {% endif %}

  {# BODY #}
  <div class="cc-tv-card__body">

    {# TITLE #}
    {{ title_prefix }}
    <h2 class="cc-tv-card__title">
      <a href="{{ url }}">{{ label }}</a>
    </h2>
    {{ title_suffix }}

    {# DATE #}
    {% if content.created %}
      <div class="cc-tv-card__meta">
        {{ content.created }}
      </div>
    {% endif %}

  </div>

</article>
